<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Students</title>
<style type="text/css">
td, th{border: 2px solid black;} 
</style>
</head>
<body>

<form th:action="@{/book}">
<input name="q">
<input type="submit" value="Axtar">
</form>
<table>
<thead><tr>
<th>Book name</th>
<th>Book price</th>
<th>Book page-count</th>
</tr></thead>
<tbody>

<tr th:each="b: ${books}">
<td th:text="${b.name}"></td>
<td th:text="${b.price}"></td>
<td th:text="${b.pageCount}"></td>
</tr>
</tbody>
</table>


</body>
</html>